@media screen and (max-width: 450px) {
  .nav-serch-form {
    display: none !important;
  }

  .topnav {
    justify-content: center !important;
  }

  .big-can {
    width: 85%;
    margin: 0 auto;
  }

  .kitchen-prod-img {
    height: 79%;
    align-items: center;
    display: flex;
    padding: 5px;
    justify-content: center;
    background-color: #ffffff;
    min-width: 250px;
    max-height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: #7c7c7c 1px solid;
  }
}

@media screen and (max-width: 600px) {
  .big-can {
    width: 75%;
    margin: 25px auto;
  }

  .navbar-brand {
    font-size: 30pt;
    letter-spacing: -6px;
  }
}

@media screen and (max-width: 665px) {
  .shop-cart-opts {
    display: none;
  }

  .big-can {
    width: 75%;
    margin: 25px auto;
  }
}

@media screen and (max-width: 750px) {
  .category-links {
    display: none;
  }
}
