html,
body {
  background-color: black;
}

.topnav {
  margin: 0;
  border-bottom: #c2c2c2 1px solid;
}

.logo-group {
  display: flex;
}

.subnav {
  background-color: #ffffff;
  border-bottom: #c2c2c2 1px solid;
  color: #111;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.category-links {
  display: flex;
  height: 50px;
  width: 15%;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  font-size: 20pt;
  font-style: italic;
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: -4px;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px #111;
}

.delivery-addy,
.user-acnt-opts,
.shop-cart-opts {
  height: 64px;
  display: flex;
  color: #111;
}

.nav-serch-form,
.shop-cart-opts {
  align-items: center;
}

.user-acnt-opts {
  flex-direction: column;
}

.logout-link {
  text-align: center;
  border-top: #c2c2c2;
}

.loc-img {
  display: flex;
  align-items: center;
}

.loc-ping,
.cart-png {
  height: 35px;
}

.del-to-user,
.user-city-zip {
  height: 35%;
}

.account-opts {
  text-align: left;
  color: #111;
  border: none;
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
}

.topnav-drop-menu {
  padding: 0;
}

.user-addy-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #111;
}

.rowdy-nav {
  padding: 0;
  display: flex;
}

.modal-nav-button {
  background-image: url('../imgs/ham-transp.png'); /* The image used */
  background-color: #ffffff; /* Used if the image is unavailable */
  box-shadow: none;
  border: none;
  color: black;
  height: 30px; /* You must set a specified height */
  width: 70px;
  background-position: left;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  padding: 0 0 0 30px;
}

.modal-nav-button:hover {
  background-color: gainsboro;
  box-shadow: none;
}

.offcanvas-header {
  display: flex;
  background-color: aquamarine;
  padding: 10px;
}

.erowdy-runner {
  padding-right: 10px;
  width: 60px;
}

.page-contents {
  padding-top: 114px;
  min-height: 150vh;
  background: linear-gradient(#999, gainsboro);
}

.carousel {
  color: #111;
  border-bottom: #c2c2c2 1px solid;
}

.carousel-item {
  background-color: linear-gradient(#e9ecef, #ffffff);
}

.carousel-item-pic {
  width: 100%;
}

#carouselExampleDark .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 55vh;
  overflow: hidden;
}

.ci-3 {
  background-color: #e9ecef;
}

/* Product Display */
.promo-can {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
}

.promo-product-cards-can {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-evenly;
  height: 500px;
  width: 23%;
  padding: 10px;
}

.product-cards-imgs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.feature-product-card-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.feat-promo-card-imgs {
  width: 100%;
  max-height: 400px;
}

.promo-card-imgs {
  max-height: 180px;
  max-width: 100%;
  padding: 5px;
}

.card-imgs {
  display: flex;
  width: 40%;
  margin: 3px;
  justify-content: center;
  align-items: center;
  background-color: #e9ecef;
}

.promo-product-strip-can {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.promo-product-strip {
  background-color: #ffffff;
  margin: 15px;
  height: 300px;
}

.product-card-header {
  min-height: 40px;
}

/* Footer styling */
footer {
  background-color: #e9ecef;
  border-top: #c2c2c2 1px solid;
}

.footy-can {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25vh;
}

.footer-links-can {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
}

.footy-sub-header {
  margin: 0;
  font-size: 14pt;
  font-weight: 500;
}

.footy-links-l,
.footy-links-m,
.footy-links-r {
  display: flex;
  flex-direction: column;
}

.footy-links-l > a,
.footy-links-m > a,
.footy-links-r > a {
  color: #111;
  font-size: 11pt;
}

.footer-copyright {
  display: flex;
  font-size: 10pt;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
  padding-bottom: 5px;
}

.erowdy-copyright {
  font-size: 12pt;
  font-style: italic;
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: -3px;
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 1px #111;
  align-items: center;
}

/*********  DATABASE   **********/

.bigger-can {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.big-can {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 22%;
}

.kitchen-prod-img > img {
  display: flex;
  height: 100%;
  max-width: 300px;
  object-fit: contain;
}

.kitchen-prod-img {
  height: 79%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  min-width: 300px;
}

.prod-desc-can {
  height: 19%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kitchen-prod-price {
  text-align: left;
}

.num-name {
  display: flex;
  flex-direction: column;
}

.id-can {
  display: flex;
  flex-direction: row;
}

.kitchen-prod-desc {
  width: 70%;
}

.num-name {
  width: 29%;
}

/*******************************/

.dpt-header {
  margin: 50px 0;
  text-align: center;
}
