html,
body {
  background-color: black;
}

.topnav {
  margin: 0;
  border-bottom: #c2c2c2 1px solid;
}

.subnav {
  background-color: #ffffff;
  border-bottom: #c2c2c2 1px solid;
  color: #111;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.category-links {
  display: flex;
  height: 50px;
  width: 15%;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  font-size: 20pt;
  font-style: italic;
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: -5px;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px #111;
}

.delivery-addy,
.user-acnt-opts,
.shop-cart-opts {
  height: 64px;
  display: flex;
  color: #111;
}

.nav-serch-form,
.shop-cart-opts {
  align-items: center;
}

.user-acnt-opts {
  flex-direction: column;
}

.logout-link {
  text-align: center;
  border-top: #c2c2c2;
}

.loc-img {
  display: flex;
  align-items: center;
}

.loc-ping,
.cart-png {
  height: 35px;
}

.del-to-user,
.user-city-zip {
  height: 35%;
}

.account-opts {
  text-align: left;
  color: #111;
  border: none;
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
}

.topnav-drop-menu {
  padding: 0;
}

.user-addy-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #111;
}

.rowdy-nav {
  padding: 0;
  display: flex;
}

.modal-nav-button {
  background-image: url('../imgs/ham-transp.png'); /* The image used */
  background-color: #ffffff; /* Used if the image is unavailable */
  box-shadow: none;
  border: none;
  color: black;
  height: 30px; /* You must set a specified height */
  width: 70px;
  background-position: left;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  padding: 0 0 0 30px;
}

.modal-nav-button:hover {
  background-color: gainsboro;
  box-shadow: none;
}

.offcanvas-header {
  background-color: aquamarine;
}

.page-contents {
  padding-top: 114px;
  min-height: 150vh;
  background: linear-gradient(#999, gainsboro);
}

.carousel {
  color: #111;
  border-bottom: #c2c2c2 1px solid;
}

.carousel-item {
  background-color: linear-gradient(#e9ecef, #ffffff);
}

.carousel-item-pic {
  width: 100%;
}

.ci-3 {
  background-color: #e9ecef;
}

#carouselExampleDark .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 55vh;
  overflow: hidden;
}

/* Footer styling*/
footer {
  background-color: #e9ecef;
  border-top: #c2c2c2 1px solid;
}

.footy-can {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25vh;
}

.footer-links-can {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
}

.footy-sub-header {
  margin: 0;
  font-size: 14pt;
  font-weight: 500;
}

.footy-links-l,
.footy-links-m,
.footy-links-r {
  display: flex;
  flex-direction: column;
}

.footy-links-l > a,
.footy-links-m > a,
.footy-links-r > a {
  color: #111;
}

.footer-copyright {
  display: flex;
  font-size: 12pt;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
  padding-bottom: 5px;
}

.erowdy-copyright {
  font-size: 12pt;
  font-style: italic;
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: -3px;
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 1px #111;
  align-items: center;
}
